.vote{
    border: 3px solid red;
    opacity: 0.5;
}
.unvote {
    border: 1px solid deepskyblue;
}
.teacher-list-item {
    margin-bottom: 20px;
    text-align: center;
}
.img {
    text-align: center;
}
.name{
    text-align: center;
}
.votes {
    margin-top: 30px;
}
.teacher-img::before{
    content: "";
    display: block;
    padding-top: 100% !important;
}
.teacher-list-item a {
    text-decoration: inherit;
    color: inherit;
}
.teacher-list-item img {
    width: auto;
    border-radius: 10px;
}
.teacher-name {
    font-size: 20px;
}
.vote-option {
    margin-top: 20px;
}
.vote-option label {
    margin-right: 20px;
}
.disabled {
    background-color: darkgray;
}
