
.votes {
    margin-bottom: 10px;
}
.option {
    background-color: darkgray;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    color:  black;
}
.teacher-img::before{
    content: "";
    display: block;
    padding-top: 100% !important;
}
.teacher-item {
    border-right: 1px inset lightgray;
    margin: 2px 0;
}
hr {
    margin: 5px 5px 5px 13.5%;
}
.row {
    display:flex;
    justify-content:center;
    align-items:center;
}
.disabled {
    background-color: darkgray;
}
.votes input[disabled="disabled"] {
    color: red;
}
.done {
    background-color: limegreen;
}
.collapse-mark{
    border: 3px solid black;
    border-radius: 100%;
    width: 30px;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}