.odd {
    position: relative;
    background: rgb(246,246,246);
    background: rgba(0,0,0,0.04);
}
.votes {
    margin-bottom: 10px;
    display: none;
}
.option {
    padding: 5px 10px;
    font-size: 20px;
    padding: 20px;
    color:  black;
    cursor: pointer;
    font-family: georgia,serif;
    font-weight: normal;
    font-style: italic;
}
.plus {
    background: transparent url('../img/expander-plus.png') 20px center no-repeat;
}
.minus {
    background: transparent url('../img/expander-minus.png') 20px center no-repeat;
}
.option > * {
    cursor: pointer;
}
.teacher-img::before{
    content: "";
    display: block;
    padding-top: 100% !important;
}
.teacher-item {
    border-right: 1px inset lightgray;
    margin: 2px 0;
}
hr {
    margin: 5px 5px 5px 13.5%;
}
.row {
    display:flex;
    justify-content:center;
    align-items:center;
}
.disabled {
    background-color: darkgray;
}
.votes input[disabled="disabled"] {
    color: red;
}
.done {
    background: rgb(165, 246, 71) !important;
    background: rgba(0,0,0,0.04);
}
.collapse-mark{
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 5px 20px 10px 15px;
}